<br />
<div class="fouterBigBlock">
    <div class="fouterTwoBlock1">
        <div class="fouterContetntsBlock">
            <div class="allConatactBigBLock">
                <div class="contactBigBlock">
                    <div class="conatctLogoBlock">
                        <img src="../../../assets/sd.png" alt="no image!">
                    </div>
                    <div class="conatactInfoBlock">
                        <p class="logoTextStyle">094 873 843</p>
                    </div>
                </div>
                <div class="contactBigBlock">
                    <div class="conatctLogoBlock">
                        <img src="../../../assets/mail.png" alt="no image!">
                    </div>
                    <div class="conatactInfoBlock">
                        <p class="logoTextStyle">trainings@it-lab.am</p>
                    </div>
                </div>
                <div class="contactBigBlock">
                    <div class="conatctLogoBlock">
                        <img src="../../../assets/bx_map.png" alt="no image!">
                    </div>
                    <div class="conatactInfoBlock">
                        <p class="logoTextStyle">Ալեք Մանուկյան 1</p>
                    </div>
                </div>
                <div class="contactBigBlock2">
                    <div class="conatctLogoBlockMore">
                        <img src="../../../assets/Vector (1).png" alt="no image!">
                    </div>
                    <div class="conatctLogoBlockMore">
                        <img src="../../../assets/Vector (2).png" alt="no image!">
                    </div>
                    <div class="conatctLogoBlockMore">
                        <img src="../../../assets/Vector (3).png" alt="no image!">
                        
                    </div>
                </div>
            </div>   
        </div>
        <div class="fouterContetntsBlock2">
            <p class="logoTextStyle2" (click)="routerMinePage()">Գլխավոր</p>
            <p class="logoTextStyle2" (click)="routerCursesPage()">Դասընթացներ</p>
            <a href="#hghgfh"><p class="logoTextStyle2">Ուսուցման ձև</p></a>
            <p class="logoTextStyle2" (click)="navigateAdvantagesPage()">Առավելություններ</p>
            <p class="logoTextStyle2">Կարծիք</p>
            <p class="logoTextStyle2">Հաճախ տրվող հարցեր</p>
            <p class="logoTextStyle2">Գործընկերներ</p>
        </div>
    </div>
 
    <div class="fouterTwoBlock2">
        <div class="fouterContetntsBlock3">
            <p class="logoTextStyle2" (click)="routerAboutOurPage()">Մեր մասին</p>
            <p class="logoTextStyle2">Առանձնահատկություններ</p>
            <p class="logoTextStyle2">Պատմություն</p>
            <p class="logoTextStyle2" >Դասընթացավարներ</p>
            <p class="logoTextStyle2">Ուսանողներ</p>
        </div> 
       <div class="fouterContetntsBlock4">
            <p class="logoTextStyle2">Մեր առավելությունները</p>
            <p class="logoTextStyle2">Կազմակերպում</p>
            <p class="logoTextStyle2">Գնացուցակ</p>
            <p class="logoTextStyle2">Ուսուցում</p>
        </div>
    </div>
</div>
