<div class="seeMoreeBigHeaderBlock">
    <div class="headerBlock">
        <div class="headerLogo"></div>
        <div class="headerNavbar">
            <app-header2></app-header2>
        </div>
    </div>
</div>
<p class="programingTextStyle">Ծրագրավորման հիմունքներ</p>
<div class="programingBigBlock">
    <div class="logoBlock"></div>
    <div class="programingInfoBlock">
        <div class="cursesAboutBigBlock">
            <p class="cueseAboutTextName">Արժեքը</p>
            <p class="cueseAboutTextMuch">30,000 դրամ</p>
        </div>
        <div class="cursesAboutBigBlock">
            <p class="cueseAboutTextName">Տևողությունը</p>
            <p class="cueseAboutTextMuch">1 ամիս</p>
        </div>
        <div class="cursesAboutBigBlock">
            <p class="cueseAboutTextName">Սկիզբը</p>
            <p class="cueseAboutTextMuch">25․02․2022</p>
        </div>
        <div class="cursesAboutBigBlock">
            <p class="cueseAboutTextName">Դասընթացավար</p>
            <p class="cueseAboutTextMuch">Գուրգեն Ղարիբյան</p>
        </div>
        <p class="cueseAboutTextName">Ո՞վ է Full stack ծրագրավորողը  </p>
        <div class="seeMoreeDescribshnScrollBlock">
            <p class="cursesAboutDesc">  Full stack ծրագրավորողները ամեն գործի վարպետներ են։ Նրանք կարող են աշխատելև որպես front end և back end, այն է կարող են մշակել վեբ հավելված սկզբից մինչև վերջ։ Full stack վեբ ծրագրավորողները պետք է ունենան գիտելիքներ վեբ ծրագրավորման բոլոր ճյուղերից, կարողանան կարգավորել Windows կամ Linux սերվերներ, գրել server-side API-ներ և այլն։</p>
        </div>
      
        <button class="registrBlock">Գրանցվել</button>
    </div>
</div>