<div class="headerContent">
    <div class="pagesBlock" *ngFor="let itm of headerListNavigate" [routerLink]="itm.path" routerLinkActive="activeRoute">{{itm.title}}</div>
    <div class="registrBlock" (click)="registrPage()">Գրանցվել</div>
    <div class="dropwDownHeader" [matMenuTriggerFor]="menu"></div>
    <mat-menu #menu="matMenu">
        <button mat-menu-item *ngFor="let itm of headerListNavigate" [routerLink]="itm.path">{{itm.title}}</button>
        <div class="registrBlock2" (click)="registrPage()">Գրանցվել</div>

    </mat-menu>
</div>
