<div class="headerBigBlock">
    <div class="headerFoutBigBlock">
        <div class="headerLeftBlock">
            <p class="fortudyText">Որակյալ կրթությունը կարեվոր է</p>
            <p class="fortudyText2">Gyumri IT Lab-ը ծրագրավորման կրթական կենտրոն է, որտեղ ուսուցանվում են ծրագրավորման
                տարբեր լեզուներ և տեխնոլոգիաներ</p>

        </div>
        <div class="headerRightBlock"></div>
    </div>
</div>
<p class="lessons">Դասընթացներ</p>
<div class="caruselBigBlock">

    <section>
        <div class="rt-container">
            <div class="col-rt-12">
                <div class='carousel'>
                    <input checked='checked' class='carousel__activator' id='carousel-slide-activator-1' name='carousel'
                        type='radio'>
                    <input class='carousel__activator' id='carousel-slide-activator-2' name='carousel' type='radio'>
                    <input class='carousel__activator' id='carousel-slide-activator-3' name='carousel' type='radio'>
                    <div class='carousel__controls'>
                        <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-2'>
                            <img src="../../../assets/Vector.png" alt="">
                        </label>
                    </div>
                    <div class='carousel__controls'>
                        <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-1'>
                            <img src="../../../assets/Vector2.png" alt="">

                        </label>
                        <label class='carousel__control carousel__control--forward' for='carousel-slide-activator-3'>
                            <img src="../../../assets/Vector.png" alt="">

                        </label>
                    </div>
                    <div class='carousel__controls'>
                        <label class='carousel__control carousel__control--backward' for='carousel-slide-activator-2'>
                            <img src="../../../assets/Vector2.png" alt="">

                        </label>
                    </div>
                    <div class='carousel__screen'>
                        <div class='carousel__track'>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel2"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel3"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel4"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                            <div
                                class='carousel__item carousel__item--mobile-in-1 carousel__item--tablet-in-2 carousel__item--desktop-in-3'>
                                <div class='demo-content'>
                                    <div class="logoBlockInCarusel"></div>
                                    <div class="mineLogoBig">
                                        <div class="mineLogo1"></div>
                                        <div class="mineText1">30 դաս</div>
                                        <div class="mineLogo2"></div>
                                        <div class="mineText2">20․05․2022</div>
                                    </div>
                                    <p class="muchText">30.000 AMD</p>
                                    <p class="curseInfo">PHP FULL STACK COURSE</p>
                                    <p class="curseAbout">Միացեք մեր դասընթացին և սովորեք ամենապահանջված և արդի
                                        մասագիտություն</p>
                                    <button class="moreBlock">Տեսնել ավելին</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<p class="ourAdvantages">Մեր առավելությունները</p>
<div class="advantagesBigBlock">
    <div class="advantagesLeftBlock">
        <div  class="advantagesInfBigBlock" *ngFor="let itm of advantagesList" style="margin-left: 85px;">
            <div class="advantagesLogo"><img src={{itm.logo}} alt="no image!" style="
                margin: 6px;
                margin-top: 10px;
            "></div>
            <div class="advantagesText">{{itm.title}}</div>
        </div>
        <button class="viewMoreBlock">Իմանալ ավելին</button>
    </div>
    <div class="advantagesRightBlock">
        <div class="AdvantagesRightImg1"></div>
        <div class="AdvantagesRightImg2"></div>

    </div>

</div>
<p class="traning" >Ուսուցման ձև</p>
<div  class="traningBigBlock" >
    <div class="traningBlock" *ngFor="let itm of traningLIst,let i = index">
        <div class="traningImg"><img [ngClass]="{'img2' : i == 1 , 'img3': i == 2 , 'img4': i == 3}" src={{itm.img}}
                alt="no image!" style="
            width: 56%;
            margin: auto;
            display: block;
        "></div>
        <p class="traningText">{{itm.title}}</p>
        <button class="tranginButton">{{itm.registrTitle}}</button>
    </div>
</div>
<div class="rigistrBigBlock">
    <div class="lessonTime">
        <div class="lessonText">
            <p class="lessonTextP">դասըթացի սկզբին մնացել է</p>
        </div>
        <div class="lessonDuration">
            <div class="durationsBlock" *ngFor="let itm of durationList">
                <p class="duraionTime">{{itm.title}}</p>
                <p class="durationTimeIn">{{itm.time}}</p>
            </div>
        </div>
    </div>
    <div class="registrForLesson">
        <div class="registrLineBigBlock">
            <p class="registrNowText">Գրանցվիր հիմա</p>
            <p class="registrNowText2">Գրանցվիր մեր դասընթացներին և ձեռք բեր արդի մասնագիտություն։</p>
            <div class="inputRegistrFormBigBlock">
                <input class="registrFormStyle" type="text" placeholder="Անուն"><br />
                <input class="registrFormStyle" type="email" style=" margin-top: 15px; " placeholder="էլ․հասցե"><br />
                <input class="registrFormStyle" type="text" style=" margin-top: 15px;" placeholder="Հեռ․"><br />
                <button class="registrFormButton" routerLink="/գրանցվել">Գրանցվել</button>
            </div>
        </div>
    </div>
</div>
<p class="organiztionCurseTextStyle">Դասընթացի կազմակերպում</p>
<div class="organiztionCurseBigBlock">
    <div class="organiztionBlockOfText">
        <p class="ogrganiztionText" style="margin: 19px; text-indent: 30px;"> ՏՏ ոլորտը Հայաստանում ամենազարգացող
            ոլորտներից է և,
            մասնավորապես ծրագրավորումը մեր
            օրերում պահանջված մասնագիտություն է․ ուստի որակյալ ծրագրավորող դառնալու համար անհրաժեշտ է ստանալ որակյալ և
            ճիշտ կրթություն՝ նախ և առաջ գիտակցելով, որ 3-5 ամսում ծրագրավորող չեն դառնում։
            Gyumri IT Lab-ը ծրագրավորման ուսուցման նորաբաց կենտրոն է Գյումրիում, որի նպատակն է ուսուցանել ծրագրավորում
            բոլոր նրանց, ովքեր ոչ միայն հետաքրքրված են ծրագրավորմամբ, այլև վստահ են իրենց ապագա մասնագիտության
            ընտրության հարցում և ցանկանում են դառնալ որակյալ կադր։ Մենք նպատակ ունենք պատրաստել full stack
            ծրագրավորողներ՝ տալով հիմքային և խորացված գիտելիքներ ոլորտում փորձառու մասնագետների օգնությամբ։Մեր կենտրոնը
            հագեցած է ժամանակակից լսարաններով, որտեղ առկա են գերհզոր համակարգիչներ և համապատասխան սարքավորումներ։ </p>
    </div>
</div>
<div class="reviewBigBlock">
    <p class="reviews">Կարծիքներ</p>
    <p class="reviewToOur">Մեր ուսանողների կարծիքը մեր մասին։</p>
    <div class="reviewsBlockBig">
        <div class="reviewsBlock" *ngFor="let itm of reviewsList">
            <div class="revewsStudentImg"><img src={{itm.img}} alt="no image!" style="width: 100%; "></div>
            <p class="reviewsStudentName">{{itm.studentName}}</p>
            <p class="reviewsStudentPosition">{{itm.studentPostion}}</p>
            <div class="reviewsStartBlock"><img src={{itm.studentStart}} alt="no image!"
                    style="display: block;margin:auto"></div>
            <div class="reviewScrollBlock" style="overflow: auto;height: 150px;">
                <p class="reviewsStudentDescription">{{itm.describtion}}</p>
            </div>

        </div>
    </div>
</div>
<p class="questionTextStyle">Հաճախ տրվող հարցեր</p>
<div class="questionBigBlock">
    <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    Ինչպե՞ս որոշել իմ գիտելիքների մակարդակը:
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p class="lastTextQues">Կարող եք անցնել մեր կողմից պատրաստած թետը</p>
                    <p class="trainTestStyle">Անցնել թետը</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    Ի՞նչ է պետք սովորելու համար:
                </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p class="lastTextQues"> Համակարգիչ, ինտերնետ և սովորելու մեծ ցանկություն 😉</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    Կա՞ն զեղչեր:
                </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p class="lastTextQues"> Full Stack վեբ ծրագրավորման դասընթացի լավագույն ուսանողները հնարավորություն
                        կստանան պրակտիկայի անցնել Brain Fors-ընկերությունում և կստանան cash back ընդհանուր վարձավճարի
                        50% չափով։</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFor">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseFor" aria-expanded="false" aria-controls="flush-collapseFor">
                    Ինչպե՞ս են անցնում դասերը։
                </button>
            </h2>
            <div id="flush-collapseFor" class="accordion-collapse collapse" aria-labelledby="flush-headingFor"
                data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p class="lastTextQues"> Դասընթացները հեռավար ՉԵՆ, անցկացվելու են Gyumri IT Lab կենտրոնում՝ Ալեք
                        Մանուկյան 1 հասցեով։</p>
                </div>
            </div>
        </div>
    </div>
    <button class="questionButton" data-bs-toggle="modal" data-bs-target="#exampleModal">ԴԵՌ ՀԱՐՑ ՈՒՆԵ՞Ք</button>
</div>
<p class="ourMe">Կապ մեզ հետ</p>

<div class="mapAndAboutOurBigBlock">
    <div class="aboutOurBig">
        <div class="ourTelNumber">
            <p class="telefonTextStyle">Զանգահարեք մեզ</p>
            <p class="telefonNumTextStyle">+374 (94) 873-843</p>
        </div>
        <div class="ourTelNumber">
            <p class="telefonTextStyle">Մեր էլ․հասցեն</p>
            <p class="telefonNumTextStyle">trainings@it-lab.am</p>
        </div>
        <div class="ourTelNumberContantLogoBlock">
            <p class="telefonTextStyle" style="margin-bottom: 0px;">Հետևեք մեզ</p>
            <div class="ourLogoBigBlock">
                <div class="fbLogo"></div>
                <div class="twiLogo"></div>
                <div class="inLogo"></div>
            </div>
        </div>
        <p class="registrForForm">Գրանցվեք տեղեկագրի համար</p>
        <div class="ourTelNumber">
            <input class="registrInputOnly" type="text" placeholder="էլ․հասցե">
        </div>
        <button class="registrForFormB">Գրանցվել</button>
    </div>
    <div class="map"></div>

</div>
<!-- /////////////////////////////////////// -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="width: 160%; margin-left: -160px;">
            <div class="modal-header" style="border: none;">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="questionBigBlockCenter">
                    <div class="questionTextStyleModal">
                        <p>Ունեք հարցեր</p>
                    </div>
                    <div class="questionInputBlock">
                        <div class="forInputBlock">
                            <div class="oneBlock" style="margin: auto;  width: 80%;height: 65px;margin-top: 15px;">
                                <input class="rigistrInputStyle" type="text" placeholder="Անուն">
                                <input class="rigistrInputStyle" type="text" placeholder="Ազգանուն">
                            </div>
                            <div class="oneBlock2" style="margin: auto; width: 80%;">
                                <input class="rigistrInputStyle" type="text" placeholder="էլ․հասցե">
                                <input class="rigistrInputStyle" type="text" placeholder="Հեռախոսահամար">
                            </div>

                        </div>
                        <textarea name="" id="" cols="30" rows="8" placeholder="Հաղորդագրություն"
                            style="background: #FCFCFC;display: block;margin: auto;width: 80%;border: 1px solid #06295E;border-radius: 16px;padding: 15px;"></textarea>
                            <button>Ուղարկել</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>