<div class="seeMoreeBigHeaderBlock">
    <div class="headerBlock">
        <div class="headerLogo"></div>
        <div class="headerNavbar">
            <app-header2></app-header2>
        </div>
    </div>
</div>
<div class="registrBigBlock">
    <div class="registrImgBlock"></div>
    <div class="registrInfoBlock">
        <div class="registrBlock">
            <p class="registrTextStyle">Գրանցվել</p>
            <input class="inputRegistrStyle"  type="text" name="" id="" placeholder="Անուն Ազգանուն"><br />
            <input class="inputRegistrStyle" type="email" placeholder="էլ․հասցե"><br />
            <input class="inputRegistrStyle" type="text" value="" placeholder="Հեռախոսահամար"><br />
            <button class="buttonHover">Գրանցվել</button>
            <div class="hrBlock" style="display: flex;"><hr /><span>կամ</span><hr/></div>
            <div class="RigistrOrBlcok">
                <div class="googleBlock"></div>
                <div class="facebookBlock"></div>
                <div class="twiterBlock"></div>
            </div>
        </div>
    </div>
</div>
