<div class="headerBigBlock">
    <div class="anotherBeforBlock">
        <p class="cursesTextStyle">Մեր մասին</p>
    </div>
</div>
<p class="ourHistoryText">Մեր պատմությունը</p>
<div class="ourHistoryBigBlock">
    <div class="ourHistryDescribshn">
        ՏՏ ոլորտը Հայաստանում ամենազարգացող ոլորտներից է և, մասնավորապես ծրագրավորումը մեր օրերում պահանջված
        մասնագիտություն է․ ուստի որակյալ ծրագրավորող դառնալու համար անհրաժեշտ է ստանալ որակյալ և ճիշտ կրթություն՝ նախ և
        առաջ գիտակցելով, որ 3-5 ամսում ծրագրավորող չեն դառնում։
        Gyumri IT Lab-ը ծրագրավորման ուսուցման նորաբաց կենտրոն է Գյումրիում, որի նպատակն է ուսուցանել ծրագրավորում բոլոր
        նրանց, ովքեր ոչ միայն հետաքրքրված են ծրագրավորմամբ, այլև վստահ են իրենց ապագա մասնագիտության ընտրության հարցում
        և ցանկանում են դառնալ որակյալ կադր։ Մենք նպատակ ունենք պատրաստել full stack ծրագրավորողներ՝ տալով հիմքային և
        խորացված գիտելիքներ ոլորտում փորձառու մասնագետների օգնությամբ։Մեր կենտրոնը հագեցած է ժամանակակից լսարաններով,
        որտեղ առկա են գերհզոր համակարգիչներ և համապատասխան սարքավորումներ։
    </div>
    <div class="logoOurHistry">
        <div class="logoOneHis"></div>
        <div class="logoTwoHis"></div>
    </div>
</div>
<p class="ourHistoryText">Ինչն է մեզ առանձնահատուկ դարձնում</p>
<div class="specialBigBlock">
    <div class="speciasBlock" >
        <p class="specialNameText">Հարմար ուսուցման ձև</p>
        <p class="specialDesText">Մեր դասընթացը ապահովում է հարմարավետություն ուսուցման մեջ։</p>
    </div>
    <div class="speciasBlock2" >
        <p class="specialNameText">Առաջնորդի փորձաքննություն</p>
        <p class="specialDesText">Մեր դասընթացների շնորհիվ դուք ձեռք կբերեք առաջնորդին բնորոշ մտածողություն։ </p>
    </div>
    <div class="speciasBlock3" >
        <p class="specialNameText">Հուսալիություն և որակ</p>
        <p class="specialDesText">Մեր դասընթացը ապահովում է հարմարավետություն ուսուցման մեջ։</p>
    </div>
</div>
<p class="ourHistoryText2">Դասընթացավարներ</p>

<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active ">
        <div class="al" style="display: flex;">
            <div class="caruselLogoBlock"></div>
        <div class="caruseInfoBlock">
            <p class="userName">Անի Արամյան</p>
            <p class="userName">Ծրագրավորման հիմունքներ</p>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Ծրագորավորման 15 տարվա փորձ</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Դիպլոմային աշխատանքների ղեկավարում</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Քննական հանձնաժողովների նախագահում</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Դասավանդման տարիների փորձ</p>
            </div>
        </div> 
        </div>
        
      </div>
      <div class="carousel-item">
        <div class="al" style="display: flex;">
            <div class="caruselLogoBlock2"></div>
        <div class="caruseInfoBlock">
            <p class="userName">Անի Արամյան</p>
            <p class="userName">Ծրագրավորման հիմունքներ</p>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Ծրագորավորման 15 տարվա փորձ</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Դիպլոմային աշխատանքների ղեկավարում</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Քննական հանձնաժողովների նախագահում</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Դասավանդման տարիների փորձ</p>
            </div>
        </div> 
        </div>
      </div>
      <div class="carousel-item">
        <div class="al" style="display: flex;">
            <div class="caruselLogoBlock3"></div>
        <div class="caruseInfoBlock">
            <p class="userName">Անի Արամյան</p>
            <p class="userName">Ծրագրավորման հիմունքներ</p>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Ծրագորավորման 15 տարվա փորձ</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Դիպլոմային աշխատանքների ղեկավարում</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Քննական հանձնաժողովների նախագահում</p>
            </div>
            <div class="cursBigBlock">
                <div class="curLogoBlock"></div>
                <p class="cursInfo">Դասավանդման տարիների փորձ</p>
            </div>
        </div> 
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<p class="ourHistoryText">Ուսանողներ</p>
<div class="lastAboutUsBlock">
    <div class="sliderBLock"></div>
    <div class="studyBigBlock" *ngFor="let itm of studyList">
        <div class="logoAndNameBlock">
            <div class="loTeBlock">
                <img src={{itm.img}} alt="no image!" style="width: 100%;height:170px">
                <p>{{itm.studyName}}</p>
            </div>
        </div>
        <div class="descibshnBigBlock"> {{itm.studyDescib}}</div>
    </div>
    <div class="sliderBLock2"></div>

</div>